
.jumbotron{
    display: block;
    text-align: center;
    font-size: 200px;

.head{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}